= form_tag login_account_path do
  = render "alert"
  .input-group
    %span.input-group-addon
      %i.material-icons email
    .form-line
      = text_field_tag :email, "", class: "form-control", placeholder: "Email", required: true, autofocus: true
  .input-group
    %span.input-group-addon
      %i.material-icons lock
    .form-line
      = text_field_tag :password, "", class: "form-control", type: "password", placeholder: "Password", required: true
  .row
    .col-xs-12
      = submit_tag "SIGN IN", class: "btn btn-block btn-lg bg-pink waves-effect"
  .row.m-t-15.m-b--20
    .col-xs-6
      = link_to "Don't have an account?", new_account_path
    .col-xs-6.align-right
      = link_to "Forgot Password?", forgot_password_account_path
