= form_tag reset_password_account_path(token: params[:token], digest: params[:digest]) do
  = render "alert"
  .msg= t "account.reset_password_msg"
  .input-group
    %span.input-group-addon
      %i.material-icons lock
    .form-line
      = text_field_tag :password, "", type: "password", class: "form-control", placeholder: "Email", required: true, autofocus: true
  .row
    .col-xs-12
      = submit_tag "RESET MY PASSWORD", class: "btn btn-block btn-lg bg-pink waves-effect"
  .row.m-t-20.m-b--5.align-center
    = link_to "Sign In!", login_account_path
